.idea
setting.json
/src/lib/files-client/test2.mp4
.vscode/launch.json
src/lib/__pycache__/__init__.cpython-38.pyc
src/lib/__pycache__/argument_parser.cpython-38.pyc
src/lib/__pycache__/client_udp.cpython-38.pyc
src/lib/__pycache__/exceptions.cpython-38.pyc
src/lib/__pycache__/file_manager.cpython-38.pyc
src/lib/__pycache__/package.cpython-38.pyc
src/lib/__pycache__/printer.cpython-38.pyc
src/lib/__pycache__/server_udp.cpython-38.pyc
src/lib/__pycache__/socket_udp.cpython-38.pyc
src/lib/files-client/namec222l1.txt
src/lib/files-client/namecl1.txt
src/lib/files-client/namescli1.txt
src/lib/files-client/nameslost.txt
src/lib/files-client/nameslost2.txt
